body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade{
    opacity: 0;
}

.content_game{
    width: 1000px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #120201;
    border-radius: 15px;
}

.content_game h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}


.content_game #click{
    background: url(../img/virus.png) no-repeat center;
    width: 200px;
    height: 200px;
    display: block;
    margin: 75px auto;
    padding: 14px 10px;
    border-radius: 150px;
    outline: none;
    cursor: pointer;
    border-color: #FF282C;
    transition: .2s;
}

.content_game button:hover{
    border-color: #FF0015;
    box-shadow: 0 0 25px #FF0015;
}


.nav{
    top: 50%;
    left: 50%;
    margin: 75px auto;
    margin-bottom: 0px;
    display: flex;
    padding: 14px 10px;
    width: 1000px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#logout, #info, #magazine{
    width: 250px;
    height: 40px;
    margin: 15px auto;
    display: inline;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    font-family: monospace;
    border-style: none;
    color: #fff;
    background: linear-gradient(to left, #f12711, #f5af19, #f12711);
    transition: .5s;
    background-size: 200%;
    text-decoration: none;
    text-align: center;
}

#logout:hover, #info:hover, #magazine:hover{
    border-color: #FF9A2D;
    box-shadow: 0 0 25px #FF9A2D;
    background-position: right;
}